
/** Team **/
.team h2 {
  margin-bottom: 30px;
}

.team h4 {
  font-size: 15px;
  margin: 24px 0 6px;
  font-weight: 600;
}

.team h5 {
  font-size: 13px;
  margin-top: 0;
  color: #676666;
}

.team p { color: #fff; }

.team-details figure {
  position: relative;
  overflow: hidden;
  width: 360px;
  max-width: 100%;
  margin: 0 auto;
}

.team-details img {
  width: 100% !important;
}

.team .team-info {
  text-align: center;
}

.team .profile-avatar {
  -moz-force-broken-image-icon: 1;
  border-radius: 50%;
  height: 100%;
  left: 0;
  width: 138px;
}

/** Stack **/

.section-header { margin-bottom: 3em; }

.section-header h2 {
  font-size: 30px;
  font-weight: 600;
  margin-top: 0;
  color: #695757;
}

.section-header h3 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

.featured-sites {
  margin-top: 20px;
  margin-bottom: 20px;
}

.featured-sites li { padding: 0 3em 1.5em; }

.featured-sites li:last-child { padding-bottom: 0; }

.featured-sites img {
  width: 15%;
  height: 15%;
}

.people {
    width: 19%;
    margin: 10px 25px;
    display: inline-block;
    text-align: center;
}

.team img:hover { opacity: .5; background-color: #695757; transform: rotate(7deg);}
.featured-sites img:hover { opacity: .5; background-color: #695757; transform: rotate(-7deg);}

.app-infos {
  font-family: 'Open Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
}

@media (max-width: 1230px) {
    .people {
        width: 35%;
        margin: 10px 25px;
        display: inline-block;
    }

    .people-list {
        margin-left: 20%;
    }

    .team .team-info {
        text-align: center;
        width: 50%;
    }

    .team .profile-avatar {
        width: 50%;
    }
}

@media (max-width: 1230px) {
    .people {
      width: 40%;
      margin: 10px 25px;
      text-align: center;
      display: inline-block;
    }

    .people-list {
      margin-left: 5%;
    }

    .team .team-info {
      width: 100%;
    }

    .team .profile-avatar {
      width: 138px;
      text-align: center;
      height: auto;
    }
}

@media (max-width: 750px) {
    .people {
      width: 40%;
      margin: 10px 25px;
      text-align: center;
      display: inline-block;
    }

    .people-list {
      margin-left: 0;
    }

    .team .team-info {
      width: 100%;
    }

    .team .profile-avatar {
      width: 138px;
      text-align: center;
      height: auto;
    }
}

@media (max-width: 850px) {

    .featured-sites li { padding: 0 3em; }

    .featured-sites img {
      width: 25%;
      height: 25%;
    }

}


@media (max-width: 550px) {

    .people {
      width: 38%;
      margin: 10px 20px;
      display: inline-block;
    }

    .featured-sites li {
      padding: 0 1em;
      display: inline-block;
    }

    .featured-sites img {
      width: 30%;
      height: 30%;
    }

    .team h5 {
      font-size: 12px;
    }

    .team h4 {
      font-size: 12px;
      font-weight: 600;
    }

    .team .profile-avatar {
      width: 110px;
    }

}

@media (max-width: 360px) {

    .team .profile-avatar {
      width: 110px !important;
    }

    .people {
      width: auto;
      display: flex;
    }

    .people-list {

    }
}
